<p style="color: green"><%= notice %></p>

<h1>Pterms</h1>

<div id="pterms">
  <% @pterms.each do |pterm| %>
    <%= render pterm %>
    <p>
      <%= link_to "Show this pterm", pterm %>
    </p>
  <% end %>
</div>

<%= link_to "New pterm", new_pterm_path %>
