<p style="color: green"><%= notice %></p>

<h1>Opciones de Pago</h1>

<table>
     <head>
      <th></th>
     </head>
     <tbody>
        <div id="pterms">
            <% @pterms.each do |pterm| %>
            <%= render pterm %>
            <p>
            <%= link_to "Show this pterm", pterm %>
             </p>
          <% end %>
          </div>
     </tbody>
  </table>

<%= link_to "New pterm", new_pterm_path %>
