<h1>New pterm</h1>

<%= render "form", pterm: @pterm %>

<br>



<div class="btn-group">
  <div>
  <%= link_to "Back to pterms", pterms_path, class: "btn btn-dark" %>
  
  <%= link_to "Atras", :back , class: "btn btn-dark" %>
  </div>
</div>