<div id="<%= dom_id lesson %>">
  <p>
    <strong>Curso:</strong>
    <%= lesson.curso %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= lesson.mode.mode %>
  </p>

  <p>
    <strong>Profesor:</strong>
    <%= lesson.user.email %>
  </p>

  

</div>
