<div id="<%= dom_id lesson %>">
  <p>
    <strong>Curso:</strong>
    <%= lesson.curso %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= lesson.mode_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= lesson.user_id %>
  </p>

</div>
