<p style="color: green"><%= notice %></p>

<h1>Cursos</h1>

<div id="lessons">
  <% @lessons.each do |lesson| %>
    <%= render lesson %>
    <p>
      <%= link_to "Ver este curso", lesson, class: "btn btn-dark" %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo curso", new_lesson_path, class: "btn btn-dark" %>
