<p style="color: green"><%= notice %></p>

<h1>Modalidades</h1>
<table>
     <head>
      <th></th>
     </head>
     <tbody>
        <div id="modes">
           <% @modes.each do |mode| %>
                 <%= render mode %>
               <p>
               <%= link_to "Show this mode", mode %>
              </p>
           <% end %>
           </div>
       </tbody>
    </table>
  


<%= link_to "New mode", new_mode_path %>

